body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma;
    background-color: #1f2937;
    margin: 0;
    padding:0;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    
}

.headertext{
    margin-left: 300px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headerright{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    gap: 16px;
    margin-right: 300px;
}
a{
    color:#F9FAF8;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: #F9FAF8;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;

}

.bodytext{
    width: 400px;
    margin-left:300px;
    justify-content: space-between
}

#btn2{
    border-radius: 8px;
    background-color: #3882f6;
    color: #F9FAF8;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 130px;
    height: 35px;
    border: 0;
}

.img1{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-right: 100px;
}

/* End of header styling */

.container2{
    background-color: white;
    margin: 0;
}

.container3{
    display:flex;
    flex-direction: column;
}

.info{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.square{
    width: 150px;
    height: 150px;
    align-items: center;
}

.cardimg{
    display: flex;
    width:150px;
    height:150px;
}

.cardtext{
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    color: #4e535eb2;
    width:150px;
    height:150px;
}

/* End of 1st container styling */

.container4{
display: flex;
flex-direction: column;
background-color: #E5E7EB;
}

#quote{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   font-size: 32px;
   font-style: italic;
   color: #1f2937;
   margin-left:300px;
   margin-right:300px;
   margin-top: 75px;
}

#author{
    float: right;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

/* End of 2nd container styling */

.container5{
    display: flex;
    background-color: white;
    padding: 75px;
    justify-content: center;
}

.callwrap{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px;
    
}

.calltext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

#callheader{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#signuptext{
    color: #F9FAF8;
}

.callsplit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    padding-right: 50px;
    align-items: center;
}

#btn3{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    width: 100px;
}

/* End of 3rd container styling */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#footertext{
    color: #E5E7EB;
}